 
* {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: .96em;
}

body {
  background-color: #f5f5f5;
  text-align: center;
  
}

form {
	
  margin: 0px;
  padding: 0px;
	
	
}

#signInBox {
	
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
	
  width: 450px;
  border: 1px solid #888888;
  background-color: white;
  
  text-align: center;
  
}

#signInBox #header {
  padding: 15px;
  border-bottom: 1px solid #bbbbbb;
  background-image: url('../images/headerBackground.png');
  
  margin: 1px;
  
}

p.error {
  color: red;
  text-align: center;
}

#signInBox #header #logo {
  padding-top: 5px;
  text-align: right;
}

#signInBox #form {
	
  margin: 20px;
  
}

#signInBox #form table {
	
  margin-left: auto;
  margin-right: auto;
	
}

#signInBox #form table th {
  font-weight: bold;
  color: #555555;
  width: 75px;
  text-align: right;
}

#signInBox #actions {
	
  margin-right: auto;
  
  background-image: url('../images/gradientBackground.png');
  border-top: 1px solid #888888;
  height: 22px;
  padding: 4px;
}

header2 {
    top: 0;
    left: 0;
    color: #3300FF;
    background-color: #E5E8EC;
    font-weight: bold;
    height: 4em;
    padding-left: 2em;
    padding-top: 1em;
}
